*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
.bgInput {
    background-color: aliceblue;
}

.header,
.footer {
    background-color: #023047;
}

.border1,
.border2 {
    border: 1px solid black;
}

.btn1,
.btn2,
.btn3 {
    width: 225px;
}

@media screen and (max-width: 1200px) {

    .buttons {
        min-height: 130px
    }
    .outputs {
        min-height: 125px
    }
    main{
        height: 100vh;
    }
}

/* @media screen and (max-width: 768px) {

    .buttons,
    .outputs {
        min-height: 200px
    }
} */

/* @media screen and (max-width: 768px) {

    .buttons,
    .outputs {
        min-height: 258px
    }
} */

@media screen and (min-width: 1200px) {

    .buttons {
        min-height: 130px
    }
    .outputs {
        min-height: 100px
    }
    main{
        height: 73vh;
    }
}
